## UAIR Application - Work Sample
### Anonymized Student Data obtained from [Open University Learning Analytics](https://analyse.kmi.open.ac.uk/open_dataset)

In [1]:
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import sqlite3

import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
conn = sqlite3.connect(':memory:')
c = conn.cursor()

In [8]:
# 42

### Test using pandas to convert csv files to SQL

In [3]:
courses_df = pd.read_csv('data/courses.csv')
courses_df.head()

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [5]:
courses_df.to_sql('courses', conn, "'if_exists'='append'", index=False)

In [6]:
c.execute('SELECT * FROM courses').fetchall()

[('AAA', '2013J', 268),
 ('AAA', '2014J', 269),
 ('BBB', '2013J', 268),
 ('BBB', '2014J', 262),
 ('BBB', '2013B', 240),
 ('BBB', '2014B', 234),
 ('CCC', '2014J', 269),
 ('CCC', '2014B', 241),
 ('DDD', '2013J', 261),
 ('DDD', '2014J', 262),
 ('DDD', '2013B', 240),
 ('DDD', '2014B', 241),
 ('EEE', '2013J', 268),
 ('EEE', '2014J', 269),
 ('EEE', '2014B', 241),
 ('FFF', '2013J', 268),
 ('FFF', '2014J', 269),
 ('FFF', '2013B', 240),
 ('FFF', '2014B', 241),
 ('GGG', '2013J', 261),
 ('GGG', '2014J', 269),
 ('GGG', '2014B', 241)]

### Non-Pandas Way

In [8]:
# this works, but the pandas option is way better because you don't have to manually input column names

# open in-memory database 

# con = sqlite3.connect(":memory:")
# cur = con.cursor()
# cur.execute("CREATE TABLE courses (code_module, code_presentation, module_presentation_length);")

# with open('data/courses.csv','rb') as fin:
#     dr = csv.DictReader(fin)
#     # dicts = ({'code_module': line[0], 'code_presentation': line[1], 'module_presentation_length': line[2]} for line in dr)
#     to_db = ((i['code_module'], i['code_presentation'], i['module_presentation_length']) for i in dicts)

# cur.executemany("INSERT INTO courses (code_module, code_presentation, module_presentation_length) VALUES (?, ?, ?);", to_db)
# con.commit()

# import csv, sqlite3

# con = sqlite3.connect(":memory:")
# cur = con.cursor()
# cur.execute("CREATE TABLE t (col1, col2);") # use your column names here

# with open('data.csv','rb') as fin: # `with` statement available in 2.5+
#     # csv.DictReader uses first line in file for column headings by default
#     dr = csv.DictReader(fin) # comma is default delimiter
#     to_db = [(i['col1'], i['col2']) for i in dr]

# cur.executemany("INSERT INTO t (col1, col2) VALUES (?, ?);", to_db)
# con.commit()
# con.close()

In [6]:
# con.close()

In [7]:
# this code shows that the table courses has been created
# cur.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()