## UAIR Application - Work Sample
### Anonymized Student Data obtained from [Open University Learning Analytics](https://analyse.kmi.open.ac.uk/open_dataset) 
#### (Database schema and descriptions can be found at that site)

In [1]:
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import sqlite3

import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
# for in-memory database

# conn = sqlite3.connect(':memory:')
# c = conn.cursor()

## I. Obtain Data

### Test using pandas to convert csv files to SQL

In [3]:
courses_df = pd.read_csv('data/courses.csv')
courses_df.head()

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [5]:
courses_df.to_sql('courses', conn, "'if_exists'='append'", index=False)

In [6]:
c.execute('SELECT * FROM courses').fetchall()

[('AAA', '2013J', 268),
 ('AAA', '2014J', 269),
 ('BBB', '2013J', 268),
 ('BBB', '2014J', 262),
 ('BBB', '2013B', 240),
 ('BBB', '2014B', 234),
 ('CCC', '2014J', 269),
 ('CCC', '2014B', 241),
 ('DDD', '2013J', 261),
 ('DDD', '2014J', 262),
 ('DDD', '2013B', 240),
 ('DDD', '2014B', 241),
 ('EEE', '2013J', 268),
 ('EEE', '2014J', 269),
 ('EEE', '2014B', 241),
 ('FFF', '2013J', 268),
 ('FFF', '2014J', 269),
 ('FFF', '2013B', 240),
 ('FFF', '2014B', 241),
 ('GGG', '2013J', 261),
 ('GGG', '2014J', 269),
 ('GGG', '2014B', 241)]

### Test with new database

In [9]:
c.close()

In [10]:
conn = sqlite3.connect('university.db')
c = conn.cursor()

In [11]:
assessments_df = pd.read_csv('data/assessments.csv')
assessments_df.head()

  code_module code_presentation  id_assessment assessment_type   date  weight
0         AAA             2013J           1752             TMA   19.0    10.0
1         AAA             2013J           1753             TMA   54.0    20.0
2         AAA             2013J           1754             TMA  117.0    20.0
3         AAA             2013J           1755             TMA  166.0    20.0
4         AAA             2013J           1756             TMA  215.0    30.0

In [12]:
assessments_df.to_sql('assessments', conn, "'if_exists'='append'", index=False)

In [13]:
# Check to see if assessments table present within university.db

c.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()

[('assessments',)]

In [15]:
# manually read-in remaining csv files, I know this is ugly

courses_df = pd.read_csv('data/courses.csv')
student_assessment_df = pd.read_csv('data/studentAssessment.csv')
student_info_df = pd.read_csv('data/studentInfo.csv')
student_registration_df = pd.read_csv('data/studentRegistration.csv')
student_vle_df = pd.read_csv('data/studentVle.csv')
vle_df = pd.read_csv('data/vle.csv')

#### Function to add dataframe to SQL database

In [16]:
def add_df_to_db(df, table_name):
    
    df.to_sql(table_name, conn, "'if_exists'='append'", index=False)

In [24]:
# okay, figuring out the for-loops is going to take longer than doing it manually, here is some more ugliness to enjoy

add_df_to_db(courses_df, 'courses')
add_df_to_db(student_assessment_df, 'student_assessments')
add_df_to_db(student_info_df, 'student_info')
add_df_to_db(student_registration_df, 'student_registration')
add_df_to_db(student_vle_df, 'student_vle')
add_df_to_db(vle_df, 'vle')

In [25]:
# check that all tables are in db

c.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()

[('assessments',),
 ('courses',),
 ('student_assessments',),
 ('student_info',),
 ('student_registration',),
 ('student_vle',),
 ('vle',)]

In [26]:
# check that values are actually in the tables!

c.execute("SELECT * FROM student_assessments;").fetchall()

[(1752, 11391, 18, 0, 78.0),
 (1752, 28400, 22, 0, 70.0),
 (1752, 31604, 17, 0, 72.0),
 (1752, 32885, 26, 0, 69.0),
 (1752, 38053, 19, 0, 79.0),
 (1752, 45462, 20, 0, 70.0),
 (1752, 45642, 18, 0, 72.0),
 (1752, 52130, 19, 0, 72.0),
 (1752, 53025, 9, 0, 71.0),
 (1752, 57506, 18, 0, 68.0),
 (1752, 58873, 19, 0, 73.0),
 (1752, 59185, 18, 0, 67.0),
 (1752, 62155, 17, 0, 73.0),
 (1752, 63400, 19, 0, 83.0),
 (1752, 65002, 17, 0, 66.0),
 (1752, 70464, 19, 0, 59.0),
 (1752, 71361, 19, 0, 82.0),
 (1752, 74372, 22, 0, 60.0),
 (1752, 75091, 18, 0, 67.0),
 (1752, 77367, 18, 0, 73.0),
 (1752, 91265, 21, 0, 75.0),
 (1752, 94961, 17, 0, 74.0),
 (1752, 98094, 18, 0, 62.0),
 (1752, 100893, 17, 0, 63.0),
 (1752, 101781, 16, 0, 84.0),
 (1752, 102806, 19, 0, 80.0),
 (1752, 102952, 19, 0, 76.0),
 (1752, 104476, 30, 0, 85.0),
 (1752, 106247, 32, 0, 67.0),
 (1752, 106577, 18, 0, 57.0),
 (1752, 110175, 18, 0, 66.0),
 (1752, 111717, 10, 0, 80.0),
 (1752, 113295, 19, 0, 81.0),
 (1752, 114017, 18, 0, 66.0),
 (1752, 114999, 18, 0, 74.0),
 (1752, 116541, 19, 0, 76.0),
 (1752, 116692, 16, 0, 72.0),
 (1752, 118983, 19, 0, 73.0),
 (1752, 123044, 25, 0, 75.0),
 (1752, 127582, 26, 0, 69.0),
 (1752, 129955, 18, 0, 85.0),
 (1752, 132976, 18, 0, 63.0),
 (1752, 134143, 18, 0, 87.0),
 (1752, 135400, 19, 0, 72.0),
 (1752, 137873, 15, 0, 72.0),
 (1752, 141355, 19, 0, 77.0),
 (1752, 141377, 54, 0, 45.0),
 (1752, 142326, 17, 0, 65.0),
 (1752, 144801, 19, 0, 61.0),
 (1752, 145130, 19, 0, 75.0),
 (1752, 146188, 19, 0, 52.0),
 (1752, 147756, 18, 0, 77.0),
 (1752, 147793, 32, 0, 52.0),
 (1752, 148993, 25, 0, 68.0),
 (1752, 151358, 17, 0, 54.0),
 (1752, 155550, 19, 0, 75.0),
 (1752, 155854, 18, 0, 82.0),
 (1752, 155984, 19, 0, 85.0),
 (1752, 157568, 18, 0, 79.0),
 (1752, 159954, 19, 0, 65.0),
 (1752, 164259, 18, 0, 82.0),
 (1752, 167906, 19, 0, 60.0),
 (1752, 168936, 19, 0, 76.0),
 (1752, 172112, 19, 0, 60.0),
 (1752, 172797, 18, 0, 60.0),
 (1752, 174782, 17, 0, 83.0),
 (1752, 175392, 16, 0, 85.0),
 (1752, 175932, 18, 0, 76.0),
 (1752, 175991, 15, 0, 51.0),
 (1752, 180753, 18, 0, 61.0),
 (1752, 181316, 20, 0, 76.0),
 (1752, 183096, 19, 0, 57.0),
 (1752, 183947, 19, 0, 67.0),
 (1752, 184271, 18, 0, 65.0),
 (1752, 185439, 24, 0, 74.0),
 (1752, 186149, 33, 0, 85.0),
 (1752, 187100, 17, 0, 88.0),
 (1752, 188278, 19, 0, 76.0),
 (1752, 189879, 19, 0, 76.0),
 (1752, 192183, 19, 0, 75.0),
 (1752, 200860, 18, 0, 69.0),
 (1752, 202635, 27, 0, 68.0),
 (1752, 205350, 19, 0, 75.0),
 (1752, 205719, 19, 0, 67.0),
 (1752, 227499, 19, 0, 84.0),
 (1752, 227517, 18, 0, 63.0),
 (1752, 228082, 19, 0, 58.0),
 (1752, 228222, 19, 0, 71.0),
 (1752, 229179, 19, 0, 64.0),
 (1752, 229361, 18, 0, 81.0),
 (1752, 231554, 19, 0, 80.0),
 (1752, 235507, 18, 0, 65.0),
 (1752, 236284, 23, 0, 85.0),
 (1752, 238007, 19, 0, 83.0),
 (1752, 240712, 19, 0, 82.0),
 (1752, 240884, 18, 0, 74.0),
 (1752, 241649, 16, 0, 85.0),
 (1752, 241729, 19, 0, 51.0),
 (1752, 242793, 18, 0, 66.0),
 (1752, 246834, 18, 0, 60.0),
 (1752, 248270, 19, 0, 77.0),
 (1752, 255548, 19, 0, 84.0),
 (1752, 256815, 37, 0, 71.0),
 (1752, 258392, 18, 0, 58.0),
 (1752, 258894, 19, 0, 58.0),
 (1752, 260355, 21, 0, 55.0),
 (1752, 262011, 18, 0, 60.0),
 (1752, 262934, 18, 0, 81.0),
 (1752, 268073, 18, 0, 64.0),
 (1752, 268733, 29, 0, 51.0),
 (1752, 271251, 19, 0, 80.0),
 (1752, 277880, 20, 0, 70.0),
 (1752, 279572, 18, 0, 79.0),
 (1752, 281022, 18, 0, 70.0),
 (1752, 281250, 18, 0, 63.0),
 (1752, 282821, 19, 0, 61.0),
 (1752, 286488, 18, 0, 55.0),
 (1752, 287548, 21, 0, 69.0),
 (1752, 290201, 18, 0, 78.0),
 (1752, 290757, 18, 0, 75.0),
 (1752, 291334, 18, 0, 85.0),
 (1752, 294570, 16, 0, 72.0),
 (1752, 294594, 18, 0, 61.0),
 (1752, 295741, 18, 0, 38.0),
 (1752, 296332, 18, 0, 91.0),
 (1752, 298696, 19, 0, 77.0),
 (1752, 300398, 20, 0, 82.0),
 (1752, 302302, 18, 0, 58.0),
 (1752, 305152, 19, 0, 64.0),
 (1752, 305386, 19, 0, 75.0),
 (1752, 306107, 18, 0, 73.0),
 (1752, 306466, 7, 0, 81.0),
 (1752, 306897, 16, 0, 72.0),
 (1752, 307061, 19, 0, 82.0),
 (1752, 307866, 19, 0, 47.0),
 (1752, 311917, 18, 0, 55.0),
 (1752, 312537, 19, 0, 88.0),
 (1752, 312782, 18, 0, 89.0),
 (1752, 318933, 16, 0, 70.0),
 (1752, 319047, 26, 0, 77.0),
 (1752, 321942, 17, 0, 82.0),
 (1752, 324002, 19, 0, 85.0),
 (1752, 324084, 16, 0, 58.0),
 (1752, 324282, 18, 0, 38.0),
 (1752, 331358, 18, 0, 84.0),
 (1752, 332789, 18, 0, 69.0),
 (1752, 333059, 19, 0, 72.0),
 (1752, 333323, 19, 0, 77.0),
 (1752, 334259, 19, 0, 57.0),
 (1752, 334333, 18, 0, 36.0),
 (1752, 335764, 19, 0, 86.0),
 (1752, 336207, 17, 0, 71.0),
 (1752, 339972, 16, 0, 68.0),
 (1752, 341872, 58, 0, 64.0),
 (1752, 342007, 20, 0, 75.0),
 (1752, 342514, 12, 0, 68.0),
 (1752, 342972, 14, 0, 62.0),
 (1752, 343446, 19, 0, 74.0),
 (1752, 344282, 18, 0, 61.0),
 (1752, 345068, 19, 0, 70.0),
 (1752, 345357, 16, 0, 75.0),
 (1752, 346025, 19, 0, 85.0),
 (1752, 350188, 19, 0, 75.0),
 (1752, 357668, 19, 0, 49.0),
 (1752, 364177, 15, 0, 64.0),
 (1752, 365244, 19, 0, 64.0),
 (1752, 365642, 15, 0, 68.0),
 (1752, 366483, 18, 0, 88.0),
 (1752, 368194, 19, 0, 54.0),
 (1752, 368824, 18, 0, 61.0),
 (1752, 368963, 20, 0, 58.0),
 (1752, 376439, 19, 0, 86.0),
 (1752, 376581, 18, 0, 86.0),
 (1752, 380953, 17, 0, 73.0),
 (1752, 383254, 18, 0, 74.0),
 (1752, 386924, 26, 0, 59.0),
 (1752, 386952, 19, 0, 67.0),
 (1752, 388722, 21, 0, 65.0),
 (1752, 388885, 19, 0, 51.0),
 (1752, 390890, 19, 0, 75.0),
 (1752, 392756, 19, 0, 53.0),
 (1752, 392931, 29, 0, 65.0),
 (1752, 393207, 18, 0, 68.0),
 (1752, 396872, 19, 0, 63.0),
 (1752, 398552, 17, 0, 54.0),
 (1752, 401869, 19, 0, 55.0),
 (1752, 402470, 16, 0, 80.0),
 (1752, 404804, 18, 0, 52.0),
 (1752, 405088, 19, 0, 85.0),
 (1752, 414117, 18, 0, 81.0),
 (1752, 415969, 20, 0, 67.0),
 (1752, 420087, 20, 0, 80.0),
 (1752, 429958, 19, 0, 59.0),
 (1752, 441018, 18, 0, 54.0),
 (1752, 441888, 20, 0, 74.0),
 (1752, 442442, 19, 0, 39.0),
 (1752, 444677, 19, 0, 91.0),
 (1752, 470588, 19, 0, 86.0),
 (1752, 489455, 15, 0, 74.0),
 (1752, 495284, 18, 0, 73.0),
 (1752, 498857, 19, 0, 77.0),
 (1752, 508818, 19, 0, 73.0),
 (1752, 512460, 19, 0, 59.0),
 (1752, 544103, 18, 0, 82.0),
 (1752, 550383, 19, 0, 77.0),
 (1752, 564450, 18, 0, 64.0),
 (1752, 568601, 19, 0, 85.0),
 (1752, 572652, 19, 0, 71.0),
 (1752, 580389, 19, 0, 75.0),
 (1752, 588775, 18, 0, 85.0),
 (1752, 591774, 19, 0, 88.0),
 (1752, 603861, 19, 0, 61.0),
 (1752, 606143, 19, 0, 78.0),
 (1752, 704156, 18, 0, 67.0),
 (1752, 705379, 19, 0, 81.0),
 (1752, 721259, 22, 0, None),
 (1752, 749412, 16, 0, 83.0),
 (1752, 760729, 18, 0, 80.0),
 (1752, 905042, 17, 0, 64.0),
 (1752, 949618, 18, 0, 63.0),
 (1752, 958987, 18, 0, 78.0),
 (1752, 968578, 27, 0, 62.0),
 (1752, 969076, 18, 0, 82.0),
 (1752, 971027, 19, 0, 76.0),
 (1752, 978739, 18, 0, 59.0),
 (1752, 1035023, 19, 0, 73.0),
 (1752, 1105478, 19, 0, 90.0),
 (1752, 1352868, 19, 0, 66.0),
 (1752, 1401935, 26, 0, 45.0),
 (1752, 1402638, 21, 0, 77.0),
 (1752, 1414443, 50, 0, 58.0),
 (1752, 1465690, 19, 0, 85.0),
 (1752, 1472925, 30, 0, 61.0),
 (1752, 1488959, 20, 0, 67.0),
 (1752, 1518989, 19, 0, 78.0),
 (1752, 1618738, 19, 0, 84.0),
 (1752, 1620151, 19, 0, 85.0),
 (1752, 1626710, 17, 0, 82.0),
 (1752, 1640609, 16, 0, 83.0),
 (1752, 1686521, 17, 0, 68.0),
 (1752, 1729319, 19, 0, 80.0),
 (1752, 1746134, 18, 0, 83.0),
 (1752, 1758449, 18, 0, 65.0),
 (1752, 1765788, 19, 0, 57.0),
 (1752, 1801229, 19, 0, 79.0),
 (1752, 1801641, 18, 0, 72.0),
 (1752, 1847830, 18, 0, 83.0),
 (1752, 1860318, 19, 0, 57.0),
 (1752, 1889511, 22, 0, 72.0),
 (1752, 1889577, 19, 0, 72.0),
 (1752, 1894188, 14, 0, 76.0),
 (1752, 1938355, 10, 0, 82.0),
 (1752, 1942396, 19, 0, 50.0),
 (1752, 1970390, 21, 0, 78.0),
 (1752, 1976139, 17, 0, 75.0),
 (1752, 2011876, 19, 0, 79.0),
 (1752, 2012966, 19, 0, 75.0),
 (1752, 2051699, 19, 0, 62.0),
 (1752, 2062879, 18, 0, 56.0),
 (1752, 2065691, 36, 0, 30.0),
 (1752, 2073016, 23, 0, 60.0),
 (1752, 2080474, 19, 0, 88.0),
 (1752, 2083877, 19, 0, 72.0),
 (1752, 2084066, 21, 0, 65.0),
 (1752, 2104505, 18, 0, 80.0),
 (1752, 2122180, 23, 0, 86.0),
 (1752, 2139353, 23, 0, 65.0),
 (1752, 2143752, 19, 0, 50.0),
 (1752, 2146792, 19, 0, 68.0),
 (1752, 2153153, 18, 0, 61.0),
 (1752, 2155014, 22, 0, 76.0),
 (1752, 2164705, 18, 0, 70.0),
 (1752, 2171627, 15, 0, 71.0),
 (1752, 2182846, 18, 0, 65.0),
 (1752, 2194100, 17, 0, 64.0),
 (1752, 2197016, 9, 0, 75.0),
 (1752, 2208424, 16, 0, 73.0),
 (1752, 2229865, 18, 0, 73.0),
 (1752, 2255601, 19, 0, 71.0),
 (1752, 2268379, 19, 0, 80.0),
 (1752, 2278464, 18, 0, 60.0),
 (1752, 2293923, 19, 0, 72.0),
 (1752, 2312620, 26, 0, 11.0),
 (1752, 2329342, 19, 0, 56.0),
 (1752, 2339528, 25, 0, 76.0),
 (1752, 2342426, 24, 0, 70.0),
 (1752, 2344901, 19, 0, 67.0),
 (1752, 2358056, 19, 0, 56.0),
 (1752, 2358969, 19, 0, 68.0),
 (1752, 2364471, 25, 0, 90.0),
 (1752, 2367155, 19, 0, 63.0),
 (1752, 2369266, 19, 0, 50.0),
 (1752, 2376496, 19, 0, 64.0),
 (1752, 2391984, 20, 0, 75.0),
 (1752, 2411661, 18, 0, 55.0),
 (1752, 2411778, 14, 0, 77.0),
 (1752, 2412002, 20, 0, 86.0),
 (1752, 2412967, 19, 0, 80.0),
 (1752, 2429854, 24, 0, 51.0),
 (1752, 2437837, 17, 0, 67.0),
 (1752, 2449878, 22, 0, 66.0),
 (1752, 2456480, 23, 0, 40.0),
 (1752, 2457256, 19, 0, 60.0),
 (1752, 2458355, 19, 0, 88.0),
 (1752, 2460080, 18, 0, 85.0),
 (1752, 2461190, 19, 0, 62.0),
 (1752, 2479954, 19, 0, 77.0),
 (1752, 2481901, 17, 0, 82.0),
 (1752, 2482700, 17, 0, 63.0),
 (1752, 2486127, 18, 0, 70.0),
 (1752, 2498700, 22, 0, 74.0),
 (1752, 2516503, 18, 0, 82.0),
 (1752, 2518069, 17, 0, 74.0),
 (1752, 2521459, 19, 0, 63.0),
 (1752, 2523736, 26, 0, 58.0),
 (1752, 2529279, 15, 0, 71.0),
 (1752, 2532302, 18, 0, 69.0),
 (1752, 2536991, 19, 0, 72.0),
 (1752, 2550279, 19, 0, 62.0),
 (1752, 2551220, 19, 0, 77.0),
 (1752, 2552472, 33, 0, 62.0),
 (1752, 2555340, 18, 0, 94.0),
 (1752, 2557283, 18, 0, 75.0),
 (1752, 2559575, 18, 0, 54.0),
 (1752, 2562034, 19, 0, 70.0),
 (1752, 2566163, 18, 0, 87.0),
 (1752, 2566592, 17, 0, 86.0),
 (1752, 2574528, 19, 0, 63.0),
 (1752, 2574583, 19, 0, 66.0),
 (1752, 2576122, 18, 0, 64.0),
 (1752, 2578995, 15, 0, 75.0),
 (1752, 2586560, 18, 0, 75.0),
 (1752, 2594139, 20, 0, 87.0),
 (1752, 2598871, 17, 0, 66.0),
 (1752, 2599352, 23, 0, 80.0),
 (1752, 2600688, 19, 0, 64.0),
 (1752, 2606098, 15, 0, 70.0),
 (1752, 2613116, 18, 0, 68.0),
 (1752, 2617002, 26, 0, 67.0),
 (1752, 2639449, 19, 0, 67.0),
 (1752, 2639540, 26, 0, 76.0),
 (1752, 2639641, 18, 0, 66.0),
 (1752, 2641155, 19, 0, 78.0),
 (1752, 2643002, 19, 0, 49.0),
 (1752, 2645733, 19, 0, 87.0),
 (1752, 2649826, 14, 0, 75.0),
 (1752, 2650282, 19, 0, 83.0),
 (1752, 2664024, 22, 0, 48.0),
 (1752, 2666246, 19, 0, 76.0),
 (1752, 2669816, 17, 0, 67.0),
 (1752, 2671132, 18, 0, 59.0),
 (1752, 2676809, 17, 0, 46.0),
 (1752, 2678643, 19, 0, 83.0),
 (1752, 2685865, 19, 0, 74.0),
 (1752, 2688067, 19, 0, 70.0),
 (1752, 2689958, 19, 0, 86.0),
 (1752, 2691206, 19, 0, 86.0),
 (1752, 2694424, 17, 0, 89.0),
 (1752, 2698257, 22, 0, 58.0),
 (1753, 704156, 56, 0, 68.0),
 (1753, 705379, 53, 0, 83.0),
 (1753, 749412, 51, 0, 61.0),
 (1753, 760729, 52, 0, 80.0),
 (1753, 905042, 53, 0, 73.0),
 (1753, 949618, 53, 0, 63.0),
 (1753, 958987, 54, 0, 78.0),
 (1753, 968578, 54, 0, 77.0),
 (1753, 969076, 53, 0, 62.0),
 (1753, 971027, 53, 0, 68.0),
 (1753, 978739, 54, 0, 58.0),
 (1753, 1035023, 54, 0, 65.0),
 (1753, 1105478, 54, 0, 85.0),
 (1753, 1352868, 64, 0, 65.0),
 (1753, 1401935, 61, 0, 25.0),
 (1753, 1402638, 70, 0, 68.0),
 (1753, 1414443, 106, 0, 60.0),
 (1753, 1465690, 54, 0, 76.0),
 (1753, 1472925, 53, 0, 54.0),
 (1753, 1488959, 57, 0, 64.0),
 (1753, 1518989, 54, 0, 77.0),
 (1753, 1618738, 54, 0, 83.0),
 (1753, 1626710, 53, 0, 85.0),
 (1753, 1640609, 53, 0, 86.0),
 (1753, 1729319, 54, 0, 78.0),
 (1753, 1746134, 53, 0, 87.0),
 (1753, 1758449, 54, 0, 57.0),
 (1753, 1765788, 59, 0, 63.0),
 (1753, 1801229, 61, 0, 76.0),
 (1753, 1801641, 53, 0, 74.0),
 (1753, 1847830, 53, 0, 60.0),
 (1753, 1860318, 54, 0, 72.0),
 (1753, 1889511, 54, 0, 69.0),
 (1753, 1889577, 58, 0, 69.0),
 (1753, 1894188, 51, 0, 67.0),
 (1753, 1938355, 48, 0, 50.0),
 (1753, 1942396, 62, 0, 50.0),
 (1753, 1970390, 64, 0, 90.0),
 (1753, 1976139, 53, 0, 76.0),
 (1753, 2011876, 54, 0, 71.0),
 (1753, 2012966, 53, 0, 76.0),
 (1753, 2051699, 55, 0, 71.0),
 (1753, 2062879, 54, 0, 55.0),
 (1753, 2065691, 48, 0, 40.0),
 (1753, 2073016, 54, 0, 53.0),
 (1753, 2080474, 54, 0, 64.0),
 (1753, 2083877, 61, 0, 64.0),
 (1753, 2084066, 62, 0, 60.0),
 (1753, 2104505, 54, 0, 69.0),
 (1753, 2122180, 61, 0, 80.0),
 (1753, 2139353, 59, 0, 62.0),
 (1753, 2143752, 53, 0, 56.0),
 (1753, 2146792, 54, 0, 60.0),
 (1753, 2153153, 53, 0, 67.0),
 (1753, 2155014, 62, 0, 64.0),
 (1753, 2171627, 50, 0, 67.0),
 (1753, 2182846, 51, 0, 63.0),
 (1753, 2194100, 52, 0, 61.0),
 (1753, 2197016, 51, 0, 75.0),
 (1753, 2208424, 53, 0, 57.0),
 (1753, 2229865, 53, 0, 76.0),
 (1753, 2255601, 58, 0, 38.0),
 (1753, 2268379, 61, 0, 79.0),
 (1753, 2278464, 68, 0, 50.0),
 (1753, 2293923, 54, 0, 59.0),
 (1753, 2312620, 54, 0, 51.0),
 (1753, 2329342, 69, 0, 54.0),
 (1753, 2339528, 54, 0, 74.0),
 (1753, 2342426, 54, 0, 67.0),
 (1753, 2344901, 54, 0, 45.0),
 (1753, 2358056, 54, 0, 60.0),
 (1753, 2364471, 62, 0, 85.0),
 (1753, 2367155, 58, 0, 85.0),
 (1753, 2369266, 53, 0, 50.0),
 (1753, 2376496, 54, 0, 72.0),
 (1753, 2391984, 57, 0, 74.0),
 (1753, 2411661, 53, 0, 57.0),
 (1753, 2411778, 52, 0, 83.0),
 (1753, 2412002, 67, 0, 72.0),
 (1753, 2412967, 54, 0, 77.0),
 (1753, 2437837, 53, 0, 77.0),
 (1753, 2449878, 58, 0, 60.0),
 (1753, 2456480, 54, 0, 34.0),
 (1753, 2457256, 59, 0, 60.0),
 (1753, 2458355, 54, 0, 86.0),
 (1753, 2460080, 62, 0, 86.0),
 (1753, 2461190, 56, 0, 50.0),
 (1753, 2469673, 53, 0, 51.0),
 (1753, 2470694, 55, 0, 67.0),
 (1753, 2479954, 58, 0, 83.0),
 (1753, 2481901, 53, 0, 72.0),
 (1753, 2482700, 57, 0, 50.0),
 (1753, 2486127, 52, 0, 67.0),
 (1753, 2498700, 54, 0, 76.0),
 (1753, 2516503, 54, 0, 75.0),
 (1753, 2518069, 52, 0, 75.0),
 (1753, 2521459, 62, 0, 50.0),
 (1753, 2523736, 63, 0, 64.0),
 (1753, 2529279, 49, 0, 80.0),
 (1753, 2532302, 47, 0, 72.0),
 (1753, 2536991, 54, 0, 72.0),
 (1753, 2550279, 54, 0, 59.0),
 (1753, 2551220, 62, 0, 54.0),
 (1753, 2552472, 75, 0, 45.0),
 (1753, 2555340, 52, 0, 75.0),
 (1753, 2557283, 53, 0, 72.0),
 (1753, 2559575, 53, 0, 64.0),
 (1753, 2562034, 62, 0, 62.0),
 (1753, 2566163, 53, 0, 55.0),
 (1753, 2566592, 54, 0, 57.0),
 (1753, 2574528, 54, 0, 72.0),
 (1753, 2574583, 57, 0, 71.0),
 (1753, 2578995, 54, 0, 84.0),
 (1753, 2586560, 53, 0, 65.0),
 (1753, 2594139, 64, 0, 73.0),
 (1753, 2598871, 52, 0, 66.0),
 (1753, 2599352, 54, 0, 75.0),
 (1753, 2600688, 57, 0, 72.0),
 (1753, 2606098, 53, 0, 70.0),
 (1753, 2613116, 52, 0, 70.0),
 (1753, 2617002, 60, 0, 53.0),
 (1753, 2639449, 55, 0, 68.0),
 (1753, 2639540, 54, 0, 78.0),
 (1753, 2639641, 54, 0, 59.0),
 (1753, 2641155, 53, 0, 81.0),
 (1753, 2643002, 60, 0, 64.0),
 (1753, 2645733, 54, 0, 81.0),
 (1753, 2649826, 48, 0, 82.0),
 (1753, 2650282, 55, 0, 84.0),
 (1753, 2664024, 61, 0, 58.0),
 (1753, 2666246, 53, 0, 76.0),
 (1753, 2669816, 53, 0, 68.0),
 (1753, 2671132, 54, 0, 69.0),
 (1753, 2676809, 95, 0, 36.0),
 (1753, 2678643, 55, 0, 80.0),
 (1753, 2685865, 54, 0, 77.0),
 (1753, 2688067, 54, 0, 62.0),
 (1753, 2689958, 54, 0, 78.0),
 (1753, 2691206, 54, 0, 85.0),
 (1753, 2691244, 61, 0, 57.0),
 (1753, 2694424, 53, 0, 74.0),
 (1753, 2698257, 54, 0, 64.0),
 (1753, 11391, 53, 0, 85.0),
 (1753, 28400, 52, 0, 68.0),
 (1753, 31604, 51, 0, 71.0),
 (1753, 32885, 75, 0, 30.0),
 (1753, 38053, 64, 0, 69.0),
 (1753, 45462, 54, 0, 65.0),
 (1753, 45642, 57, 0, 72.0),
 (1753, 52130, 54, 0, 68.0),
 (1753, 53025, 52, 0, 80.0),
 (1753, 57506, 53, 0, 76.0),
 (1753, 58873, 54, 0, 74.0),
 (1753, 59185, 53, 0, 71.0),
 (1753, 62155, 50, 0, 85.0),
 (1753, 63400, 54, 0, 42.0),
 (1753, 65002, 51, 0, 68.0),
 (1753, 70464, 52, 0, 60.0),
 (1753, 71361, 53, 0, 86.0),
 (1753, 74372, 54, 0, 18.0),
 (1753, 75091, 52, 0, 66.0),
 (1753, 77367, 54, 0, 76.0),
 (1753, 91265, 64, 0, 74.0),
 (1753, 98094, 49, 0, 59.0),
 (1753, 100893, 50, 0, 68.0),
 (1753, 101781, 52, 0, 64.0),
 (1753, 102806, 54, 0, 86.0),
 (1753, 102952, 52, 0, 70.0),
 (1753, 104476, 62, 0, 78.0),
 (1753, 106247, 64, 0, 66.0),
 (1753, 106577, 54, 0, 51.0),
 (1753, 110175, 55, 0, 61.0),
 (1753, 113295, 61, 0, 77.0),
 (1753, 114017, 53, 0, 76.0),
 (1753, 114999, 52, 0, 79.0),
 (1753, 116541, 75, 0, 66.0),
 (1753, 116692, 47, 0, 77.0),
 (1753, 118983, 54, 0, 63.0),
 (1753, 123044, 54, 0, 72.0),
 (1753, 127582, 61, 0, 66.0),
 (1753, 129955, 54, 0, 82.0),
 (1753, 132976, 53, 0, 65.0),
 (1753, 134143, 53, 0, 83.0),
 (1753, 135400, 49, 0, 51.0),
 (1753, 137873, 54, 0, 81.0),
 (1753, 141355, 54, 0, 74.0),
 (1753, 142326, 65, 0, 76.0),
 (1753, 144801, 56, 0, 64.0),
 (1753, 145130, 54, 0, 37.0),
 (1753, 146188, 61, 0, 53.0),
 (1753, 147756, 53, 0, 72.0),
 (1753, 148993, 63, 0, 70.0),
 (1753, 151358, 52, 0, 48.0),
 (1753, 155550, 54, 0, 66.0),
 (1753, 155854, 53, 0, 79.0),
 (1753, 155984, 90, 0, 75.0),
 (1753, 157568, 66, 0, 81.0),
 (1753, 159954, 61, 0, 68.0),
 (1753, 164259, 53, 0, 58.0),
 (1753, 167906, 54, 0, 58.0),
 (1753, 168936, 54, 0, 79.0),
 (1753, 172112, 68, 0, 67.0),
 (1753, 172797, 53, 0, 54.0),
 (1753, 174782, 52, 0, 79.0),
 (1753, 175392, 53, 0, 74.0),
 (1753, 175932, 57, 0, 73.0),
 (1753, 175991, 116, 0, 28.0),
 (1753, 180753, 53, 0, 59.0),
 (1753, 183096, 57, 0, 53.0),
 (1753, 183947, 54, 0, 33.0),
 (1753, 184271, 53, 0, 62.0),
 (1753, 186149, 68, 0, 81.0),
 (1753, 187100, 52, 0, 90.0),
 (1753, 189879, 60, 0, 85.0),
 (1753, 192183, 58, 0, 66.0),
 (1753, 200860, 53, 0, 58.0),
 (1753, 202635, 63, 0, 70.0),
 (1753, 205350, 54, 0, 59.0),
 (1753, 205719, 58, 0, 63.0),
 (1753, 227499, 53, 0, 83.0),
 (1753, 227517, 54, 0, 67.0),
 (1753, 228082, 54, 0, 68.0),
 (1753, 228222, 61, 0, 45.0),
 (1753, 229179, 54, 0, 68.0),
 (1753, 229361, 53, 0, 76.0),
 (1753, 231554, 54, 0, 62.0),
 (1753, 236284, 54, 0, 84.0),
 (1753, 238007, 54, 0, 73.0),
 (1753, 240712, 54, 0, 81.0),
 (1753, 240884, 53, 0, 54.0),
 (1753, 241649, 42, 0, 66.0),
 (1753, 241729, 64, 0, 55.0),
 (1753, 242793, 53, 0, 75.0),
 (1753, 246834, 54, 0, 56.0),
 (1753, 248270, 61, 0, 79.0),
 (1753, 255548, 61, 0, 75.0),
 (1753, 256815, 54, 0, 75.0),
 (1753, 258392, 60, 0, 57.0),
 (1753, 258894, 67, 0, 65.0),
 (1753, 260355, 59, 0, 60.0),
 (1753, 262011, 54, 0, 79.0),
 (1753, 262934, 53, 0, 80.0),
 (1753, 268073, 50, 0, 78.0),
 (1753, 271251, 54, 0, 62.0),
 (1753, 277880, 72, 0, 65.0),
 (1753, 279572, 54, 0, 82.0),
 (1753, 281022, 58, 0, 72.0),
 (1753, 281250, 52, 0, 57.0),
 (1753, 282821, 63, 0, 53.0),
 (1753, 286488, 54, 0, 73.0),
 (1753, 287548, 53, 0, 70.0),
 (1753, 290201, 61, 0, 69.0),
 (1753, 290757, 53, 0, 74.0),
 (1753, 291334, 60, 0, 84.0),
 (1753, 293699, 54, 0, 55.0),
 (1753, 294570, 50, 0, 82.0),
 (1753, 294594, 53, 0, 53.0),
 (1753, 295741, 53, 0, 52.0),
 (1753, 296332, 52, 0, 95.0),
 (1753, 298696, 68, 0, 70.0),
 (1753, 300398, 48, 0, 80.0),
 (1753, 302302, 59, 0, 59.0),
 (1753, 305386, 54, 0, 76.0),
 (1753, 306107, 54, 0, 46.0),
 (1753, 306466, 53, 0, 78.0),
 (1753, 306897, 50, 0, 73.0),
 (1753, 307061, 54, 0, 76.0),
 (1753, 307866, 54, 0, 52.0),
 (1753, 311917, 51, 0, 46.0),
 (1753, 312537, 54, 0, 90.0),
 (1753, 312782, 53, 0, 54.0),
 (1753, 318933, 53, 0, 63.0),
 (1753, 319047, 54, 0, 75.0),
 (1753, 321942, 53, 0, 80.0),
 (1753, 324002, 53, 0, 69.0),
 (1753, 324084, 59, 0, 35.0),
 (1753, 324282, 53, 0, 58.0),
 (1753, 332789, 54, 0, 77.0),
 (1753, 333059, 54, 0, 70.0),
 (1753, 333323, 54, 0, 78.0),
 (1753, 335764, 59, 0, 87.0),
 (1753, 336207, 51, 0, 67.0),
 (1753, 339972, 52, 0, 44.0),
 (1753, 341872, 92, 0, 64.0),
 (1753, 342514, 51, 0, 74.0),
 (1753, 342972, 58, 0, 57.0),
 (1753, 343446, 59, 0, 77.0),
 (1753, 344282, 53, 0, 53.0),
 (1753, 345068, 61, 0, 75.0),
 (1753, 345357, 53, 0, 70.0),
 (1753, 346025, 52, 0, 75.0),
 (1753, 350188, 54, 0, 75.0),
 (1753, 357668, 54, 0, 63.0),
 (1753, 364177, 53, 0, 65.0),
 (1753, 365244, 54, 0, 53.0),
 (1753, 365642, 53, 0, 63.0),
 (1753, 366483, 52, 0, 70.0),
 (1753, 368194, 69, 0, 49.0),
 (1753, 368824, 53, 0, 68.0),
 (1753, 368963, 53, 0, 59.0),

## II. Exploratory Data Analysis

### Student Info - Demographic Data about Students and Their Results

Columns that are not self-explanatory

* imd_band = Index of Multiple Deprivation, where the student lived during the module presentation (score used in the United Kingdom to assess a region based on income, employment, health deprivation and disability, education skills and training, barriers to housing and services, crime, and living environment
* studied_credits = total number of credits for the modules the student is currently studying

In [27]:
student_info_df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [29]:
c.execute('SELECT DISTINCT imd_band from student_info;').fetchall()

[('90-100%',),
 ('20-30%',),
 ('30-40%',),
 ('50-60%',),
 ('80-90%',),
 ('70-80%',),
 (None,),
 ('60-70%',),
 ('40-50%',),
 ('10-20',),
 ('0-10%',)]

In [31]:
student_info_df.isnull().sum()

code_module                0
code_presentation          0
id_student                 0
gender                     0
region                     0
highest_education          0
imd_band                1111
age_band                   0
num_of_prev_attempts       0
studied_credits            0
disability                 0
final_result               0
dtype: int64

In [33]:
student_info_df.shape

(32593, 12)

In [34]:
student_info_df.imd_band.value_counts()

20-30%     3654
30-40%     3539
10-20      3516
0-10%      3311
40-50%     3256
50-60%     3124
60-70%     2905
70-80%     2879
80-90%     2762
90-100%    2536
Name: imd_band, dtype: int64

In [37]:
student_info_df.final_result.value_counts()

Pass           12361
Withdrawn      10156
Fail            7052
Distinction     3024
Name: final_result, dtype: int64

#### Investigate this interesting IMD index

In [57]:
c.execute("""
        SELECT imd_band, COUNT(final_result) AS 'pass'
        FROM student_info
        WHERE final_result = 'Pass'
        UNION
        SELECT imd_band, COUNT(final_result) AS 'withdrawn'
        FROM student_info
        WHERE final_result = 'Withdrawn';""").fetchall()

[('30-40%', 10156), ('90-100%', 12361)]

### Non-Pandas Way

In [8]:
# this works, but the pandas option is way better because you don't have to manually input column names

# open in-memory database 

# con = sqlite3.connect(":memory:")
# cur = con.cursor()
# cur.execute("CREATE TABLE courses (code_module, code_presentation, module_presentation_length);")

# with open('data/courses.csv','rb') as fin:
#     dr = csv.DictReader(fin)
#     # dicts = ({'code_module': line[0], 'code_presentation': line[1], 'module_presentation_length': line[2]} for line in dr)
#     to_db = ((i['code_module'], i['code_presentation'], i['module_presentation_length']) for i in dicts)

# cur.executemany("INSERT INTO courses (code_module, code_presentation, module_presentation_length) VALUES (?, ?, ?);", to_db)
# con.commit()

# import csv, sqlite3

# con = sqlite3.connect(":memory:")
# cur = con.cursor()
# cur.execute("CREATE TABLE t (col1, col2);") # use your column names here

# with open('data.csv','rb') as fin: # `with` statement available in 2.5+
#     # csv.DictReader uses first line in file for column headings by default
#     dr = csv.DictReader(fin) # comma is default delimiter
#     to_db = [(i['col1'], i['col2']) for i in dr]

# cur.executemany("INSERT INTO t (col1, col2) VALUES (?, ?);", to_db)
# con.commit()
# con.close()

In [6]:
# con.close()

In [7]:
# this code shows that the table courses has been created
# cur.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()